.box{
    width: 80px;
    height: 80px;
  border: 1px solid tomato;
    margin-top: 5px;
   
     background-color: red;
  
    
  ;
}
.parent{
  float:"right";
  /* background-color: gray; */
}
.active{
  border: 3px solid red;
}