.box2 {
  width: 300px;
  height: 300px;
  border: 1px solid tomato;
}
.parent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 235, 239);
}

/* 60-80 */
.yellow {
  background-color: yellow;
  color: rgb(7, 7, 7);
}

/*0-60 */
.red {
  background-color: red;
}
/* 80-100 */
.green {
  background-color: green;
}
.span {
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 35%;
}
